/***
  VARIABLES
***/

:root {
  --primary-color: #0d56d9;
  --accent-color: #E09902;
}

/***
  RESETS
***/

body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  color: #2E2D33;
}
h1, h2, h3, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
p, li {
  font-size: 24px;
}
p {
  margin-top: 40px;
  margin-bottom: 30px;
  line-height: 40px;
}
ul.disc-list {
  list-style-type: disc;
  padding-left: 25px;
}

/***
  HELPERS
***/

.button.is-orange {
  background-color: var(--accent-color);
  border-color: transparent;
  color: #fff;
}
  .button.is-orange:hover {
    filter: brightness(0.8);
  }

.is-size-18 {
  font-size: 18px;
}
.pl-60 {
  padding-left: 60px;
}
h1.title {
  font-size: 40px;
  font-weight: 900;
  line-height: 55px;
}
h2.title {
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 54px !important;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

/***
  NAVBAR
***/

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  transition: top 0.3s;
  background-color: transparent;
}
.navbar-brand {
  height: 100px;
}
.navbar-container {
  margin-top: 20px;
  padding-right: 20px;
}
  .navbar-menu .navbar-item {
    height: 50px;
  }
    a.navbar-item {
      color: white;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
      a.navbar-item:hover {
        background-color: var(--primary-color);
        color: white;
      }
      .navbar-item img {
        max-height: unset;
      }
@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
    background-color: rgba(0,0,0,.85);
  }
}

/***
  HERO
***/

.hero.is-fullheight .hero-head {
  height: 100px;
  z-index: 2;
}
.hero.is-fullheight .hero-body {
  align-items: flex-start;
  z-index: 1;
}
  .purple-bg {
    background-color: #8F8CB8;
  }
  .hero-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    background-image: url(img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: 200px bottom;
    background-size: cover;
    background-color: #8F8CB8;
    background-blend-mode: multiply;
    opacity: 0.6;
  }
    .hero-title {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 50px;
      font-weight: 900;
      color: white;
      line-height: 60px;
    }
@media screen and (max-width: 1023px) {
  .hero-banner {
    display: none;
  }
  .hero-title {
    margin-top: 0;
    text-align: center;
  }
  .button {
    margin: 0 auto;
    display: block;
    float: none;
  }
}


/***
  PARCEIRO
***/

#parceiro .hero-body {
  flex-direction: column;
}
  #parceiro .hero-body .container {
    display: flex;
  }
  #parceiro p {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .parceria-bg {
    display: flex;
    flex-direction: column;
    background-image: url('img/parceria.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }
  .input {
    margin-bottom: 16px;
    height: 47px;
  }
  form .button {
    display: block;
    margin: 24px auto 0;
  }

@media screen and (max-width: 1023px) {
  .parceria-bg {
    background-image: none;
  }

  .pl-60 {
    padding-left: 0;
  }
}

/***
  VANTAGENS
***/

.icon-block-container {
  margin-top: 70px;
  text-align: center;
}
  .icon-block-container .icon {
    height: 90px;
    width: 100%;
  }
  .icon-block-container h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  .icon-block-container p {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
  }

/***
  COMPRA
***/

.light-purple-bg {
  background-color: #ABBEE6;
}
.column:not(:first-child) .art-block-container:before {
  content: "";
  position: absolute;
  top: 60px;
  left: -50px;
  width: 90px;
  height: 4px;
  background-color: #78809C;
}
.column:not(:last-child) .art-block-container:after {
  content: "";
  position: absolute;
  top: 60px;
  right: -50px;
  width: 90px;
  height: 4px;
  background-color: #78809C;
}
.art-block-container {
  position: relative;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  text-align: center;
} 
  .art-block-container .icon {
    height: 120px;
    width: 100%;
  }
  .art-block-container h3 {
    font-size: 30px;
    font-weight: 900;
    line-height: 41px;
    color: #78809C;
  }
  .art-block-container p {
    margin-top: 8px;
    margin-bottom: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #2E2D33;
  }

@media screen and (max-width: 1023px) {
  .column:not(:first-child) .art-block-container:before,
  .column:not(:last-child) .art-block-container:after {
    display: none;
  }
}

/***
  QUEM SOMOS
***/

.icons-block-container {
  margin-top: 20px;
  text-align: center;
}
  .icons-block-container .icon {
    height: 90px;
    width: 100%;
  }
  .icons-block-container h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }

.testimonials-container {
  width: 806px;
  height: 150px;
  margin: 90px auto 0;
  overflow: hidden;
}
.testimonials-slide {
  position: relative;
  display: flex;
  animation: slide 15s ease-in-out infinite;
}
.testimonial {
  position: relative;
  min-width: 806px;
  margin-right: 100px;
  color: #707070;
}
  .testimonial:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(img/aspa.svg) no-repeat;
    width: 50px;
    height: 50px;
  }
  .testimonial-img {
    border: solid 3px #707070;
    border-radius: 100%;
    overflow: hidden;
  }
  .testimonial-name {
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
  }
  .testimonial-profession {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .testimonial-text {
    font-size: 20px;
    line-height: 27px;
  }

/***
  BLOG
***/

#blog {
  border-top: solid 2px #E6E6E6;
}
  .post-blocks-container {
    margin-top: 77px;
    margin-bottom: 77px;
  }
    .post-blocks img {
      height: 225px;
    }
    .post-blocks h3 {
      margin-top: 8px;
      font-family: 'Nunito';
      font-size: 24px;
      font-weight: 600;
      line-height: 28px;
    }

/***
  CTA
***/

#cta {
  background-color: #F9F8FF;
}
  .cta-container {
    background-color: var(--primary-color);
    padding: 80px;
  }
    .contact-container h1.title {
      color: white;
      line-height: 1.2;
    }
    .contact-icons-container {
      margin-top: 80px;
      padding-bottom: 80px;
    }
      .contact-icons-container .column {
        text-align: center;
      }
      .contact-icon {
        height: 70px;
      }
      .contact-icons-container h3 {
        font-size: 24px;
        line-height: 33px;
        margin-top: 24px;
      }
      .contact-icons-container p {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
      }

@media screen and (max-width: 1023px) {
  .contacts {
    padding: 0 20px;
  }
}

/***
  FOOTER
***/

footer.footer {
  padding: 50px;
  background-color: #464555;
  color: white;
}
  .footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .social {
    display: flex;
  }
    .social img {
      margin-left: 24px;
    }
  footer li {
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    text-transform: uppercase;
  }
  footer .address {
    margin-top: 0;
    margin-left: 110px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
  .copy {
    margin-top: 60px;
    margin-bottom: 0;
    font-size: 20px;
  }

@media screen and (max-width: 1023px) {
  footer .address {
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
  }
}

/***
  MODAL
***/

.modal {
  display: block;
  transform: translateY(-1000px);
  opacity: 0;
  transition: all .5s ease;
}
  .modal.show {
    transform: translateY(0);
    opacity: 1;
  }
.modal-background {
  background-color: rgba(10,10,10,.4);
}
.modal-content {
  background-color: #8F8CB8;
  width: 90%;
  height: 90%;
  margin-top: 35px;
}
.form {
  background-color: var(--primary-color);
  padding: 16px;
  min-height: 300px;
  border-radius: 4px;
}
.modal .title {
  color: white;
}
.modal .hero-body {
  padding: 5rem;
}
.modal p {
  color: white;
  max-width: 90%;
  line-height: 1.5;
}

/** Animations **/

@keyframes slide {
  0% { left: 0 }
  40% { left: 0 }
  50% { left: -906px }
  90% { left: -906px }
  100% { left: 0 }
}

